<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
	<test name="Test">
		<parameter name="myURL" value="https://www.ccvmode.com/" />
		<parameter name="itemToSearch" value="CHEMISE"/>
		
		<groups>
			<define name="searchAndFilter">
				<include name="searchItems"/>
				<include name="filterSearchResults"/>
			</define>
			
			<run>
				<include name="searchAndFilter"/>
			</run>
			
		</groups>
		<classes>
			<class name="com.TestTitle" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
